@import "tailwindcss";



@font-face{
  font-family: font1;
  src: url(../public/fonts/Jonova-Regular.ttf)
}

@font-face{
  font-family: font12;
  src: url(../public/fonts/Whitelist-Demo.otf)
}

.moveX{
  animation-name: moveAnimation;
  animation-duration: 7s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  transition: all ease 0.3s;
}

.moveLink{
  opacity: 0;
}

.link:hover .moveLink{
  opacity: 1;
}

@keyframes moveAnimation{
  from{
    transform: translate(0);
  }
  to{
    transform: translate(-100%);
  }
}